<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="copy">
    <div class="pure-menu pure-menu-horizontal">
        <ul>
            <li class="pure-menu-item"><a href="https://github.com/mkyc" class="pure-menu-link">Me</a></li>
            <li class="pure-menu-item"><a href="https://github.com/mkyc/eebp" class="pure-menu-link">EEBP</a></li>
            <li class="pure-menu-item"><a href="https://github.com/mkyc/mltk-it-articles" class="pure-menu-link">Articles</a></li>
        </ul>
    </div>
</div>

</body>

</html>