<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="posts">
    <section th:each="post :${posts}" class="post">
        <header class="post-header">

            <a href="post.html" th:href="@{/{year}/{month}/{day}/{title}(year=${post.year},month=${post.month},day=${post.day},title=${post.urlTitle})}">
                <h2 class="post-title" th:text="${post.title}">Title</h2>
            </a>


            <p class="post-meta">
                By <a href="#" class="post-author" th:text="${post.author}">Author</a> under
                <span th:each="tag : ${post.tags}">
                <a th:class="'post-category ' + ${tag.style}" href="#" th:text="${tag.name}">Tag</a>
            </span>
            </p>
        </header>

        <div class="post-description">
            <p th:text="${#strings.substring(post.content,0,250)} + '...'">
                Content
            </p>
        </div>
    </section>
</div>

</body>

</html>