<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="sidebar">
    <div class="header">
        <h1 class="brand-title"><a style="color: white" href="/">mltk.it</a></h1>

        <nav class="nav">
            <ul class="nav-list">
                <li th:each="tag: ${tags}" class="nav-item">
                    <a class="button-xsmall pure-button" style="font-size: xx-small" th:href="@{/(tag=${tag.name})}" th:text="${tag.name}">tag</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

</body>

</html>